body{
    margin-top: 0px;
}
header{
    /* background-image: url(https://sun9-27.userapi.com/impf/c855424/v855424961/d7a5f/Kes0jgob0JA.jpg?size=2048x1364&quality=96&sign=2adc17c63caf824650dcb8223c816973&type=album); */
    /* background-image: url(https://sun3-23.userapi.com/impf/hoPkAFec4l1dHp4-W1sW4Pz1s5CzHEpdgp0MkQ/K4x7FlwgHlM.jpg?size=1920x768&quality=95&crop=0,0,1920,767&sign=198292f…&type=cover_group); */
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    position: relative;
}
.menu{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.position{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    flex-direction: row;
    margin-left: 200px;
    margin-right: 200px;
    }
.img_logo{
    width: 60px;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    font-family: cursive;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 17px 1px #00000045;
}
.position > ul{
    margin: 0px;
    padding: 0px;
}
.main_menu{
    font-family: system-ui;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 5px 17px 1px #00000045;
}
.btn_menu{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    align-content: center;
}
.btn_menu_left{
    padding-left: 30px;
}
.btn_menu_left:hover{
    border-radius: 0px 0px 0px 19px;
}
.btn_menu_right:hover{
    border-radius: 0px 0px 19px 0px;
}
.btn_menu_right{
    padding-right: 30px;
}
.btn_menu:hover{
    background-color: #da392b;
}
.menu > li > a{
    text-decoration: none;
    color: black;
}
.button_menu {
    display: flex;
    width: 400px;
    padding: 10px;
    color: aliceblue;
    position: relative;
    z-index: 5;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 0px;
    padding-left: 0px;
}
.position_info_menu {
    margin-left: 200px;
    margin-right: 200px;
    height: auto;
    margin-top: 40px;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    z-index: 5;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.btn{
    box-shadow: 0px 5px 17px 1px #00000045;
    border-style: none;
    width: 150px;
    height: 50px;
    color: white;
    z-index: 3;
    position: relative;
    background-color: #da392b;
}
.match_three{
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 3%;
    padding-left: 10px;
    padding-right: 10px;
}
.match_three > div > img{
    width: 100%;
}

@media (max-width: 768px) {
    .position_info_menu {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
        flex-wrap: wrap;
        display: flex ;
        position: relative;
        z-index: 5;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main_menu{
        width: 100%;
    }
    .button_menu {
        align-items: center
    }
    .logo {
        width: 100%;
        border-radius: 0px 0px 0px 0px;
    }
    .main_menu {
        font-family: system-ui;
        background-color: #ffffff;
        border-radius: 0px 0px 20px 20px;
        box-shadow: 0px 0px 0px 0px #00000000;
    }
    .position{
        margin-right: 0px;
        margin-left: 0px;
        }

}
@media (max-width: 1211px) {
    .position_info_menu {
        margin-left: 100px;
        margin-right: 100px;
    }
    .position{
        margin-right: 100px;
        margin-left: 100px;
        }
}