.menu{
    list-style: none;
}
.position{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.position > ul{
    margin: 0px;
    padding: 0px;
}